*{
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
}

@font-face {
    font-family: 'Westwood Studio';
    src: url('./assets/WestwoodStudio.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

header {
    background-color: #f29abe;
    color: white;       
    text-align: left;
    padding-bottom: 5px;
    padding-top: 20px;
    
}
/* h1{
    font-family: 'Westwood Studio', sans-serif;
    font-size: 70px;
} */
body {
    margin: 0px;
    margin-bottom: 40px;
    display: block;
    max-width: 100%;
}


a{
    text-decoration: none;
}
.box {
    flex-direction: row;
    list-style-type: none;
    display: flex;
    margin: 10px;
}

.flex {
    /* flex-basis: fill; */
    flex-grow: 1;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 3px solid #f29abe;
}
.logo{
    padding-left: 40px;
    padding-bottom: 20px;
}
.main-content{
    margin: 100px;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

footer {
    background-color: #f29abe;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
     */

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    /* background-color: #2196F3; */
    background-color:#f29abe;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
      left: 4.5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }
 